/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #db00ff;
  --accent-color-alt: #f1b2ce;
  --background-color: #000028;
  --text-color: #ff0070;
  --main-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --button-decor: #ff0070;
  --decor-color-rec: #ff0070;
  --back-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #db00ff;
    --accent-color-alt: #f1b2ce;
    --background-color: #000028;
    --text-color: #ff0070;
    --main-color: #ff0070;
    --button-hover-color: rgba(255, 0, 112, 0.4);
    --button-decor: #ff0070;
    --decor-color-rec: #ff0070;
    --back-image: url(../images/cover-image-dark.png);
  }
}
