/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ffc2e6;
  --accent-color-alt: #353430;
  --background-color: #353430;
  --text-color: #ff8dcb;
  --main-color: #353430;
  --button-hover-color: #32312d66;
  --button-decor: #353430;
  --decor-color-rec: transparent;
  --back-image: url(../images/cover-image-light.png);
}

@madia (prefers-color-scheme: light) {
  :root {
    --accent-color: #ffc2e6;
    --accent-color-alt: #353430;
    --background-color: #353430;
    --text-color: #ff8dcb;
    --main-color: #353430;
    --button-hover-color: #32312d66;
    --button-decor: #353430;
    --decor-color-rec: transparent;
    --back-image: url(../images/cover-image-light.png);
  }
}
